body{
    background-color: rgb(165, 158, 158);
}
.calculadora{
    background-color: rgb(255, 102, 1);
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 219px;
    border-radius: 10px;
    border: 3px solid;
    background-image: linear-gradient(rgb(29, 61, 61),rgb(36, 194, 242), rgb(255, 255, 255)) ;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);


}/*Fechamento calculadora*/

.tela{
    background-color: rgb(161, 214, 236);
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border: 3px solid black;
    padding:  10px;
    margin-bottom: 20px;
    font-size: 3rem;
    justify-content: 
    flex-end;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.configBotao{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.linha{
    display: flex;
    margin-top: 5px;
}

button{
    font-size: 1rem;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: darkgray;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    
    
}
button:hover{
    background-color: rgb(85, 82, 68);
}

.Limpar{
    width: 120px;



}

