body{
    /*Estilos referentes ao corpo do html*/
    background-color: paleturquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: dimgray;
}

h1{
    text-align: center;
    color: rgba(2, 14, 93, 1);
    margin-top: 60px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin:50px;
}

a{
    display: block;
    text-align: center;
    color: rgb(240, 240, 240);
    background-color: rgba(2, 14, 93, 1);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color: blue;
    color: black;
}

.instagram{
    background-image: linear-gradient(to bottom right, rgba(70, 100, 202, 1),
     rgba(241, 77, 90, 1), rgba(255, 202, 81,1), rgba(194, 60, 147, 1));
}

.twitter{
    background-color: rgba(0, 174, 239, 1);
}

.facebook{
    background-color: rgba(59, 89, 152, 1);
}