<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sites de Viagens</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <!--Conteudo do cabeçalho da pagina-->
    <header>
        <!--seçao de navegaçao do html-->
        
       
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#destinos">Destinos</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul><!--Fechamento Lista-->
            </nav><!--Fechamento nav-->            
    </header><!--Fechamento header-->
    
    <section id="home">     
        <h1>{{mensagem}}</h1>
        <p>Explore o mundo conosco</p>


    </section><!--Fechamento seçao-->
    <section id="destinos">
        <h2>Destinos Populares</h2>
        <div class="destinos">
            <h3>Noruega</h3>
            <p>Oslo-Noruega</p>
            <p>Ao longo da história, a capital também ficou conhecida como “a cidade dos tigres”, devido ao seu clima frio e hostil</p>
            <img src="./imagens/Imagem3.png">
            
            
        </div><!--Fechamento div destinos-->
        <div class="destinos">
            <h3>Havai</h3>
            <p>Hávai é um pais co  belezas naturais, como praias e paisagens paradisíacas</p>
            <img src="./imagens/akjsa.jpg">
           
        </div>
    </section>

    <section>
        <h2>Converse conosco</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" v-model="nome"required>
            <label for="email">E-mail:</label>
            <input type="email" v-model="email" required>
            <label for="msg">Mensagem:</label>
            <textarea v-model="msg" required></textarea>

            <button type="submit">Enviar</button>
        </form><!--Fechamento form-->
    </section><!--Fechamento seçao contato-->

    <footer>
        <p>&copy; 2023 Franca Calçados. Todos os direitos reservados.<p>

    </footer><!--Fechamento footer-->
    <script src="process.js"></script>
    
</body>
</html>