
body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cdn.agendasonidocaracol.mx/Upload/afb83e0118323c1840cc188dc018ec4218211c72.jpg");
  }


div{
    display: flex;
    flex-direction: column;
    top: 50%;
    /* background-color: rgb(233, 228, 228); */
    margin-top: 1000%;
}
label{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin-bottom: 25px;
}

nav ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
header{
    /* background-color: #ffffff; */
    color: #000000;
    padding: 10px;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    color: rgb(0, 0, 0);
}
img{
   padding: 20px;
   /* height: 300px; */
   width: 400px;
   /* max-width: 200px; */

}

.destinos{
   /* margin-bottom: 50px; */
   border: 1px solid rgb(0, 0, 0);
   border-radius: 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
   max-width: 60%;
   margin: 30px auto;
}
.destinos img{
    max-width: 78%;
    margin: auto;
    margin-bottom: 30px;

   
}

footer{
    /* background-color: #000000; */
    color: #1b1111;
    padding: 20px;
    text-align: center;
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{
    max-width: 400px;
    margin: 0 auto;
    
}
form input, textarea{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1 px solid greenyellow;
    margin-bottom: 15px;
}
input[type="text"] {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #110d0d;
    width: 110%;
    font-size: 20px;
  }
  
  /* Estilos para campos de entrada de senha */
  input[type="email"] {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #130e0e;
    width: 110%;
    font-size: 20px;
  }
  form button{
    padding: 10px 20px;
    background-color: #110d0d;
    color: #fffcfc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

h1{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}
