h1{
    font-size: 36px;
    color: rgb(0, 26, 255);
    margin-top: 0%;
}

p{font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(242, 126, 10);
    
}
body{
    background-color: darkgrey;
    font-family: arial,sans-serif;
    padding: 0%;
    margin: 0%;
}


.container{
    margin: 0 auto;
    background-color: black;
    width: 80%;
    padding: 20px;  
}

@media (max-width: 768px){
    .container{
        width: 93%;
        padding: 10px;
    }
  
    h1{
        font-size: 20;
    }

    p{
        font-size: 16px;
    }

}


