/* Estilos para mensagens de erro */
.erro {
  color: #8b4513;
  font-size: 1.5rem;
}

/* Estilos para mensagens de sucesso */
.sucesso {
  color: #32cd32;
}

/* Estilos gerais do corpo do documento */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #4682b4;
  color: #000000;
  
}

/* Estilos para botões */
button {
  border-radius: 10px;
  background-color: #808080;
  color: #ffffff;
  border-style: solid;
  cursor: pointer;
  font-size: 1.2rem;
  max-width: 20%;
  margin-top: 20px;
  
}

button:hover {
  background-color: #5f5744;
}

/* Estilos para a área de aplicação (div) */
#app {
  border-radius: 20px;
  max-width: 400px;
  background-color: #e9967a;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 20px 0 15px rgb(227, 175, 231);
  text-align: center;
}

/* Estilos para títulos */
h1 {
  margin-top: 0;
}

/* Estilos para formulários */
form {
  background-color: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

/* Estilos para campos de entrada de texto */
input[type="text"] {
  padding: 13px;
  border-radius: 8px;
  border: 2px solid #f14646;
  width: 80%;
  font-size: 20px;
}

/* Estilos para campos de entrada de senha */
input[type="password"] {
  padding: 13px;
  border-radius: 8px;
  border: 2px solid #f14646;
  width: 60%;
  font-size: 20px;
}
