/* Estilos para mensagens de erro */
.erro {
  color: #ff0000;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* Estilos para mensagens de sucesso */
.sucesso {
  color: #01ff01;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.entrada {
  opacity: 1;
}

/* Estilos gerais do corpo do documento */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #4682b4;
  color: #000000;
  background-image: url("https://images2.alphacoders.com/683/68370.jpg");
  background-repeat: no-repeat;
  
}

/* Estilos para botões */
button {
  border-radius: 10px;
  background-color: #808080;
  color: #ffffff;
  border-style: solid;
  cursor: pointer;
  font-size: 1.2rem;
  /* max-width: 20%; */
  margin-top: 20px;
  
}

button:hover {
  background-color: #5f5744;
}

/* Estilos para a área de aplicação (div) */
#app {
  border-radius: 20px;
  max-width: 400px;
  background-color: #a2c9e49f;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 20px 0 15px rgb(252, 240, 240);
  text-align: center;
}

/* Estilos para títulos */
h1 {
  margin-top: 0;
}

/* Estilos para formulários */
form {
  background-color: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

/* Estilos para campos de entrada de texto */
input[type="text"] {
  padding: 13px;
  border-radius: 8px;
  border: 2px solid #110d0d;
  width: 80%;
  font-size: 20px;
}

/* Estilos para campos de entrada de senha */
input[type="password"] {
  padding: 13px;
  border-radius: 8px;
  border: 2px solid #f8e9e9;
  width: 60%;
  font-size: 20px;
}
form input, textarea{
  width: 100px;
}