body {
  background-color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  color: azure;
  background-image: url("https://i.pinimg.com/originals/9c/7b/e4/9c7be43979a736a8695361a544630b97.jpg");
  background-repeat: no-repeat;
}

button {
  background-color: #808080;
  color: #ffffff;
  border-style: solid;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  padding: 7px;
}

button:hover {
  background-color: #5f5744;
}

h1 {
  margin-top: 6;
  align-items: center;
  background-color: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  color: #ffffff;
}

form {
  background-color: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

.erro {
  color: #f30808;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* Estilos para mensagens de sucesso */
.sucesso {
  color: #69f70b;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.entrada {
  opacity: 1;
}

#app {
  max-width: 400px;
  background-color: rgba(10, 18, 19, 0.5);
  margin: 0 auto;
  box-shadow: 20px 0 15px rgb(115, 114, 116);
  text-align: center;
  padding-top: 40px;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding-top: 6px;
  float: left;
  border-radius: 6px;
}
div{
  background-color: rgba(10, 18, 19, 0.986);
  border-radius: 30px;
  padding: 10px;
  border-style: 20px;
  
}
ol{
  margin-top: 10px;
  list-style-type: none;
  /* align-items: center; */
  /* justify-items: center; */
  padding: 0%;
  
}
li{
   border-style: solid;
   border-color: #a59b9b7e;
   margin-bottom: 5px;
   padding-left: 10px;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   align-items: baseline;
}

.botao{
  margin-right: 10px;
  margin-top: 0px;
}