<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadrasto</title>
    <script src="./arroz/java/vue.global.js"></script>
    <link rel="stylesheet" type ="text/css" href="./arroz/css/style-cadastro.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="/arroz/css/style-cadastro.css"> -->
    <!-- <link rel="stylesheet" href="./arroz/css/style-cadastro.css"/> -->

</head>
<body>
    <div id="app">
        <h1>Cadastro de Novo Usuario</h1>
        <form>
            <label for="newUsername">Nome de usuario</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword"required>


            <label for="confirmPassword">Confirma Senha:</label>
            <input type="password" v-model="confirmPassword"required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>

            <!-- <button @click="add"></button> -->

        </form><!--Fechamento form-->

        <p>Usuario: {{𝐔𝐬𝐮𝐚𝐫𝐢𝐨}}</p>
        <!-- <p>Senha: {{senha}}</p> -->

        <p class="erro" :class="{entrada: mostrarEntrada}">{{erro}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

        <!-- Processo de listagem dos usuarios e senhas cadastradas nos vetores-->
        <div>
            <button @click ="listarUsuarios">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}

            </button>
            <!--lista dos usuarios cadastrados-->
            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                   Usuario: {{usuario}}, Senha: {{senhas[index]}} 
                   <button class="botao" @click="excluirUsuario(usuario)">Exᴄʟᴜɪʀ</button>
                </li>
            </ol>
                

        </div><!--Fechamento div-->

    </div><!--Fechamento div app-->
    <script src="./arroz/java/process.js"></script>
    
    
</body>
</html>